/***********************************************************************************************************************
**************************************                  Footer                   ***************************************
***********************************************************************************************************************/
footer {
    background-color: $darkgray;
    padding: 1em 0;
    z-index: 2;
    p {
        font-size: 1.2em;
        color: $white;
        padding-top: .7em;
    }
    .social-network {
        img {
            padding-top: .9em;
        }
    }
}
