/***********************************************************************************************************************
***********************************                  Fonts families                *************************************
***********************************************************************************************************************/
@font-face {
    font-family: 'Karla-Regular';
    src:  url('../fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Karla-Regular.woff') format('woff'),
          url('../fonts/Karla-Regular.ttf')  format('truetype'),
          url('../fonts/Karla-Regular.svg#Karla-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Bold';
    src:  url('../fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Karla-Bold.woff') format('woff'),
          url('../fonts/Karla-Bold.ttf')  format('truetype'),
          url('../fonts/Karla-Bold.svg#Karla-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarkMyWords';
    src:  url('../fonts/MarkMyWords.eot?#iefix') format('embedded-opentype'),
          url('../fonts/MarkMyWords.woff') format('woff'),
          url('../fonts/MarkMyWords.ttf')  format('truetype'),
          url('../fonts/MarkMyWords.svg#MarkMyWords') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Fonts settings
//
p, li, a, button {
    font-family: 'Karla-Regular';
}
h2, h3, h4, h5, strong {
    font-family: 'Karla-Bold';
}
