/***********************************************************************************************************************
***********************************            Scrollbar Custom On Chrome          *************************************
***********************************************************************************************************************/
::-webkit-scrollbar {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #34495E;
}
/***********************************************************************************************************************
**************************************                Global settings          *****************************************
***********************************************************************************************************************/
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.padding {
    padding: 5em 0;
}
.margin {
    margin: 1em 0;
}
h1{
    font-size: 2.5em;
    color: $red;
    margin-top: 1.5em;
}
h2 {
    padding-top: 1em;
}
h3{
    color: $white;
    margin: 1.5em 0;
}
p {
    line-height: 1.6;
}
.uppercase {
    text-transform: uppercase;
}
.bigger{
    font-size: 1.7em;
}
main {
    @media screen and (min-width: 768px) {
        padding-top: 6em;
    }
}
a {
    color: $yellow;
    &:hover {
        color: $yellow;
    }
}
